@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #ddd;
    border-bottom: solid 2px #777;
    height: 103px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 85px;
}

#subtitle, .date {
    margin: 0;
}

h1, h2 {
    margin: 0;
    font-weight: 100;
}

a {
    color: #37f;
}

h2 {
    font-size: 21px;
}

header h1 .hidden-link,
main h2 .hidden-link {
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

header h1 .hidden-link:hover,
main h2 .hidden-link:hover {
    color: #37f;
}

main {
    box-sizing: border-box;
    margin: 18px 85px;
    width: 685px;
}

.date {
    color: #555;
}

p {
    line-height: 24px;
}