@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #ddd;
    border-bottom: solid 2px #777;
    height: 103px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 85px;
}

h1, p {
    margin: 0;
}

header h1 {
    font-weight: 100;
}

header h1 .hiddenlink {
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

header h1 .hiddenlink:hover {
    color: blue;
}